<a href="https://colab.research.google.com/github/aaron-abrams-uva/DS1002-S24/blob/main/MorePythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Metadata

```
Course:      DS 1002
Week:        Python Basics
Topic:       Python Types, Operators, and Expressions
```

# Comments

In [52]:
# Here is a comment

You can comment out any single line with a # character.
    
    # Here is a comment

You can comment out multiple lines using triple quote marks on both ends.

```python
"""
Here is a long comment that takes up several lines.
I wonder how long it will go?
Okay maybe just three lines long
"""
```

# Reserved Keywords

Reserved keywords have specific meanings and restrictions on how they should be used. There are lots of them!  But, you should nevertheless have no trouble naming your variables.

More examples:

`False`   
`await`
`else`
`import`   
`pass`  
`None`   
`break`   
`except`   
`in`   
`raise`   
`True`   
`class`   
`finally`   
`is`
`return`   
`and`   
`continue`   
`for`   
`lambda`   
`try`   
`as`   
`def`   
`from`   
`nonlocal`   
`while`   
`assert`   
`del`   
`global`
`not`   
`with`   
`async`   
`elif`	  
`if`   
`or`   
`yield`

# Variables & Types

Variables are assigned types **dynamically**.

In [53]:
# variable name = assigned value
x = 4
x

4

In [54]:
y = 100 + 25
y

125

In [58]:
# can type variable to get value
print(x)
print(y)

4
125

In [ ]:
# can use print() function to view assigned value
# the print() function has a lot of uses and will be discussed later
print(x)

In [61]:
# reassign variable
x=4
x == 5

False

In [ ]:
# variable arithmetic
x + y

In [62]:
# variables of other data types
float_var = 4.22
string_var = 'virginia'
bool_var = True

In [64]:
type(string_var) # gives you type of data variable is holding

str

In [65]:
# delete a variable with function del()
del(x)

x

NameError: name 'x' is not defined

## Converting Data Types

When needed you can 'cast' a variable as a different string type (remember Python automatically assigns data type to a variable).

We do this through casting functions:

**`int()`**

In [66]:
# create float variable
var_float = 9.6
type(var_float)

float

In [67]:
# cast float to integer
var_int = int(var_float)

print(type(var_int))
var_int

<class 'int'>

9

**`float()`**

In [68]:
# create string variable
var_str = '2.71'
type(var_str)

str

In [ ]:
# cast string to float
var_float = float(var_str)
print(type(var_float))
print(var_float)

x = float("string")

# Operators

If variables are **nouns**, and values **meanings**, then operators are **verbs**.

In effect, they are **elementary functions** that are expressed in sequential syntax.

**Each data type is associated with a set of operators** that allow you to manipulate the data in way that makes sense for its type. Numeric data types are subject to mathematical operations, booleans to logical ones, and so forth.

There are also **operations appropriate to structures**. For example, list-like things have membership.

The relationship between types and operators is a little bit like the relationship between data structures and algorithms. **An algorithm is typically designed for a particular data structure.**

The w3schools site has [a good summary](https://www.w3schools.com/python/python_operators.asp).

## Numeric Operators

Common: `+`, `-`, `*`, `/`



Other operators:

**floor division `//`**

returns the largest integer less than or equal to the result

In [71]:
5 // 2

2

In [72]:
-5 // 2

-3

**modulus `%`**

returns the remainder after a division operation

In [ ]:
5 % 2

In [73]:
print(5.5 / 2)
print(5.5 // 2)
print(5.5 % 2)

2.75
2.0
1.5

**exponentiation `**` **

In [ ]:
5**2

## String Operators

**concatenation `+`**

In [80]:
string1 = "Hello world!"
string2 = 'Goodbye world!'

print(string1 + string2)
string1[0]

Hello world!Goodbye world!

'H'

In [75]:
string1 + string2 + ' Hello again!'

'Hello world!Goodbye world! Hello again!'

In [18]:
print(string1 + string2 + ' Hello again!')

Hello world!Goodbye world! Hello again!

**repetition `*`**

In [19]:
string1 * 2

'Hello world!Hello world!'

In [78]:
# '\n' moves to the next line (like hitting the return button)
print((string1 + '\n') * 5)

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

**subsetting a string**

In [25]:
# extract the third through sixth characters
string1[2:6]

'llo '

In [82]:
# extract the first 2 characters
print(string1[0:2])
print(string1[:2])

string1[0:2] == string1[:2]

He
He

True

In [ ]:
# extract the last 2 characters
string1[-2:]

In [83]:
string1.startswith('o')

False

In [84]:
string1.endswith('!')

True

**Python strings are *immutable* - cannot reassign elements**

In [ ]:
st

In [85]:
string1[0] = 'Y'

TypeError: 'str' object does not support item assignment

## Comparison Operators

comparisons are questions and return boolean values

**equality `==`**

In [86]:
# numeric
25 == 4**2 + 9

True

In [87]:
# string
string1 == string2

False

**inequality `!=`**

In [88]:
# numeric
25 != 20 + 6

True

In [89]:
# string
string1 != string2

True

**greater than `>`, less than `<`**

In [90]:
20 > 10

True

In [91]:
2*10 >= 20

True

In [92]:
3%5 < 6%5

False

In [93]:
-3 <= 0

True

## Object ID

Every variable created in Python is given a unique ID.

This ID where the variable is stored in memory. The ID is for the variable, not the variable's value.

> Exception: if the number is between -5 - 256 or a simple string with no spaces, it will not be given a unique id for memory optimization purposes

We can find an object's ID using `id()`

In [94]:
a = 278

In [95]:
b = 278

In [96]:
print(id(a))
print(id(b))

140164844758576
140164844754320

In [97]:
a == b # 278 = 278

True

In [98]:
id(a) == id(b)

False

## Logical Operators

**conjunctions `and`, `or`, `not`**

Note that we group comparisons with parentheses

In [ ]:
x = 10

(x % 10 == 0) or (x < -1)

In [ ]:
(x % 10 == 0) and (x < -1)

In [ ]:
not x == 5

**Identity `is`**

The `is` keyword is used to test if two variables refer to the same object.

The test returns `True` if the two objects are the same object.

The test returns False if they are not the same object, even if the two objects are 100% equal.

Use the `==` operator to test if two variables are equal.

-- from [W3Schools on Identity Operators](https://www.w3schools.com/python/gloss_python_identity_operators.asp)

In [99]:
x = ['apple', 'banana']
y = ['apple', 'banana']
z = x

In [104]:
x is z
print(id(z))
print(id(x))

140165701777280
140165701777280

In [ ]:
x is y

In [ ]:
x == y

In [ ]:
x == z

**`isinstance()`**

function returns `True` if the specified object is of the specified type, otherwise `False`

In [105]:
#example

isinstance("Hello", (float, int, str))

True

In [106]:
#example
isinstance("Hello", int)

False

## Unary Operators

Python offers a short-cut for most operators. When updating a variable with an operation to that variable, such as:
```python
my_var = my_var + 1  # Incrementing
```

You can do this:
```python
my_var += 1
```

In [110]:
x = 10
x +=1
x

x -= x
x

0

Python supports many operators this way. Here are some:
```python
a -= a
a \= a
a \\= a
a %= a
a *= a
a **= a
```

## Expressions

Variables, literal values, and operators are the building blocks of expressions.

For example, the following combines three operators and four variables:

In [113]:
(1 + 2) * 3 / 2

4.5

Python employs **operator precedence** when evaluating expressions:

```
P – Parentheses
E – Exponentiation
M – Multiplication
D – Division
A – Addition
S – Subtraction
```

In [ ]:
(1 + 2) * (3 / 2)

Variables and literal values can be combined:

In [46]:
y = 5
m = 2.5
b = 10

In [ ]:
y = m * 10 + b
y

In [ ]:
y = m * 5 + b
y

Expresssions can be very complex.

Expressions evaluate to a value, just as single variables do.

Therefore, they can be put anywhere a value is accepted.

In [ ]:
int((y + 10) ** 8)

In [1]:

food = ["apples", "oranges", "mangos", "bananas", "blueberries"]

def find_fruit(fruit):
  for fkjh in fruit:
    if fkjh == "mangos" :
      print("Hooray!  I found mangos.")
    else:
      print("No mangos here.")

find_fruit(food)

No mangos here.
No mangos here.
Hooray!  I found mangos.
No mangos here.
No mangos here.